body {
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  background-color: darkgray;
}

.header {
  background-color: #333;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 20px;
  background-color: #ECECEC;
  align-items: stretch;
}

.pickOfWeek {
  width: 50%;
  height: 100%;
  padding: 10px;
}

.pickOfWeek img {
  max-width: 100%;
  max-height: 100%;
}

.browseByPop {
  width: 50%;
  height: 100%;
  padding: 10px;
  flex-direction: column;
}

.browseByPop img {
  width: 60%;
}

.genre {
  width: 100%;
  height: 50%;
  display: flex;
}

.genre > div {
  width: 100%;
}

.genre > div > img {
  width: 60%;
}

.nowPlaying {
  width: 100%;
  height: 50%;
}

.nowPlaying img {
  width: 100%;
}

.sliderWrapper {
  background-color: #333;
  text-align: center;
  padding-top: 20px;
}

.sliderWrapper span {
  color: gold;
  font-size: 30px;
}

.multiple-items {
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;

}

.slide {
  border-width: 5px;
}

.footer {
  background-color: #FFF;
  text-align: center;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}